body{
  background-color: #eeeff4;
}
footer{
  background-color: #fff;
  width:100%;
  height:2.5rem;
  position: fixed;
  left:0;
  bottom:0;
}

footer ul{
  display:flex;
}

footer li{
  width:25%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

footer li .iconfont{
  width:1.1rem;
  line-height:1.1rem;
  margin-top: .325rem;
  font-size:1.2rem;
  text-align:center;
  color:#8f949b;
}

footer li h4{
  font-size:.6rem;
  color:#8f949b;
  margin:.1rem 0 .2rem;
}

footer .active h4{
  color:#00a15b;
}

footer .active a{
  color:#00a15b;
}
